.Contact {
    // padding-top: $header-height;
    color: white;
}
.VideoHeader {
    position: relative;
}
.VideoHeader-text {
    position: absolute;
    padding: 0 3vh;
    text-align: center;
    letter-spacing: 2vw;
    height: 20%;
    font-size: 5vw;
    top: calc(50% - 10%);

    @media screen and (min-width: 64em) {
        font-size: 4em;
        letter-spacing: 10px;
    }
}
.GoogleMap {
    margin-bottom: 1rem;
}
.Contact-info {
    margin: 1.5rem auto;
}
.ContactForm-title {
    text-align: center;
    margin-bottom: 1rem;
}
.ContactForm {
    margin-bottom: 1rem;
    display: grid;
    &-title {
        font-size: 10vw;
        color: #fff;

        @media screen and (min-width: 64em) {
            font-size: 5vw;
        }
    }
    & [required]:invalid {
        background-color: rgba(220, 20, 60, 0.2);
    }

    & [required]:valid {
        background-color: rgba(60, 179, 113, 0.2);
    }

    & [required]:focus {
        background-color: rgba(255, 255, 255, 0.2);
        outline: 0;
    }
    & > input,
    & > textarea {
        display: block;
        width: 100%;
        padding: 1rem;
        margin: 1rem auto;
        border: 0;
        border-bottom: medium solid #0096d9;
        background-color: transparent;
        color: #fff;
        font: {
            family: "Montserrat";
            size: 1.5rem;
            weight: bold;
        }
        resize: none;
    }
    & > input[type="submit"] {
        margin: 2rem auto 0;
        font-size: 2rem;
        border: medium solid transparent;
        background-color: #0096d9;
        color: #fff;
        transition: all 0.3s ease-out;
        @media screen and (min-width: 48em) {
            width: 70%;
        }

        &:hover {
            cursor: pointer;
            background-color: #fff;
            color: #0096d9;
            border: medium solid #0096d9;
        }
    }
}
