.GoogleMap {
    width: inherit;
    height: inherit;
    text-align: center;
    background-color: rgba(23, 18, 38, 0.5);
    @media screen and (min-width: 64em) {
        display: flex;
    }

    & a {
        display: inline-block;
        padding: 1rem;
        font: {
            size: 7.5vw;
            weight: bold;
        }
        color: #fff;

        &:hover {
            color: #0096d9;
        }
    }

    & iframe {
        width: inherit;
        height: inherit;
    }
}
