$header-bg-op-0: rgba(23, 18, 38, 0);
$header-bg-op-1: rgba(23, 18, 38, 0.85);
$header-color: #fff;
$header-height: 4rem;
$header-container-width: 1200px;

$logo-url: "./img/marathons-logo.svg";
$logo-width: 4rem;
$logo-height: 4rem;
$logo-bg-size: 3.5rem;

$header-area: ". logo hamburger";
$logo-position: center;
$hamburger-position: end;

$hamburger-color: #0096d9;

// header responsive , movil first
@mixin panel-direction($dir) {
    @if $dir == left {
        transform: translateX(-100%);
        &.is-active {
            transform: translateX(0);
        }
    } @else if $dir == right {
        transform: translateX(100%);
        &.is-active {
            transform: translateX(0);
        }
    } @else if $dir == top {
        transform: translateY(-100%);
        &.is-active {
            transform: translateY(0);
        }
    } @else if $dir == bottom {
        transform: translateY(100%);
        &.is-active {
            transform: translateY(0);
        }
    }
}

.hamburger:focus {
    outline: 0;
    border: 0;
}
.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    background-color: $hamburger-color;
}


.Header {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: $header-height;
    transition: all 0.3s ease-out;
    background-color: $header-bg-op-1;
    &.is-active {
        opacity: 1;
        background-color: rgb(23, 18, 38);
    }
    &-container {
        margin: auto;
        display: grid;
        max-width: $header-container-width;
        grid-template: {
            columns: repeat(3, 1fr);
        }
    }
}
.Logo,
.Panel-button {
    align-self: center;
    justify-self: center;
}
.Panel-button {
    grid-column: -2;
}

.Logo {
    z-index: 999;
    &-link {
        display: block;
        width: $logo-width;
        height: $logo-height;
        background: {
            image: url($logo-url);
            size: $logo-bg-size;
            repeat: no-repeat;
            position: center;
        }
    }
}
.Panel {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
    background-color: $header-bg-op-1;
    transition: transform 0.3s ease-out;
    @include panel-direction(left);
    &-button {
        z-index: 999;
    }
}
.Menu {
    margin-top: calc(#{$header-height} + 2rem);
    &-listItem {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    &-link {
        display: block;
        padding: 1rem;
        font: {
            weight: bold;
            size: 1.5rem;
        }
        color: $hamburger-color;
        transition: all 0.3s ease-out;
    }
    &-link:hover {
        color: $header-color;
        background-color: $hamburger-color;
    }
}

@media screen and (min-width: 64em) {
    .Header {
        &-container {
            grid-template: {
                columns: auto 1fr;
            }
        }
    }
    .Panel {
        position: static;
        overflow-y: visible;
        transform: translate(0, 0);
        background-color: transparent;

        &-button {
            display: none;
        }
    }

    .Menu {
        margin-top: 0;

        &-listItem {
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }

        &-link {
            border-top: medium solid transparent;
        }

        &-link:hover {
            border-top: medium solid $header-color;
            background-color: transparent;
        }
    }
}
