.SocialMedia {
    &-list {
        display: flex;
        justify-content: space-around;
    }

    &-item {
        list-style-type: none;
    }

    &-link {
        font-size: 10vw;
        color: #fff;

        &:hover {
            color: #0096d9;
        }

        @media screen and (min-width: 48em) {
            font-size: 5vw;
        }
    }
}
