include ./metatags_webapp.pug
include ../includes/components/navigation_off_canvas.pug
doctype html
html(lang="es")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    +metatagsWebApp()
    block metatags
    link(rel="stylesheet", href="./style.css")
  body
    +navigationOffCanvas([['Inicio','index'],['Acerca','acerca'],['Maratones','maratones'],['Mujeres','mujeres'],['El mas veloz','el-mas-veloz'],['Contacto','contacto']])
    block content
    script(src="./script.js")
