mixin metatagsWebApp()
  -let mobileColor = '#0096D9'
  -let favicon = './img/favicon.ico'
  -let logoPNG = './img/marathons-logo.png'
  -let logoSVG = './img/marathons-logo.svg'
  meta(name="HandheldFriendly", content="true")
  meta(name="MobileOptimized", content="320")
  meta(name="theme-color", content=mobileColor)
  meta(name="msapplication-TileColor", content=mobileColor)
  meta(name="msapplication-TileImage", content=logoSVG)
  meta(name="apple-mobile-web-app-capable", content="yes")
  meta(name="apple-mobile-web-app-status-bar-style", content="default")
  link(rel="apple-touch-startup-image", href=logoSVG)
  link(rel="icon", type="image/x-icon", href=favicon)
  link(rel="icon", type="image/png", href=logoPNG)
  link(rel="apple-touch-icon", href=logoSVG)
  link(rel="author", type="text/plain", href="./humans.txt")
  link(rel="sitemap", type="application/xml", title="Sitemap", href="./sitemap.xml")
