mixin contactForm()
    form.ContactForm
        h2.ContactForm-title Contáctanos
        input#nombre(type="text", name="nombre", placeholder="Escribe tu nombre", title="Sólo letras y espacios", pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\\s]+$", required)
        input#email(type="email", name="email", placeholder="Escribe tu email", title="Tu email", pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$", required)
        input#asunto(type="text", name="asunto", placeholder="Asunto a tratar", title="Asunto a tratar", required)
        textarea#comentarios(name="comentarios", cols="30", rows="10", placeholder="Escribe tus comentarios", title="Tus comentarios", required)
        input(type="submit", value="Enviar")