// menu será un arreglo de dos posiciones [['inicio','index.html'],[]]
// https://jonsuh.com/hamburgers/
mixin navigationOffCanvas(menu)
    header.Header
        section.Header-container
            h1.Logo
                a.Logo-link(href="./")
            .Panel-button
                <button class="hamburger hamburger--spin" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            aside.Panel
                nav.Menu
                    ul.Menu-listItem
                        each item in menu
                            li.Menu-item
                                a.Menu-link(href=`${item[1]}.html`)= item[0]
