mixin sentence(cite1, cite2, autor)
    article.Sentence
        blockquote
            p
                | #{cite1}
                br
                | #{cite2}
                br
                cite #{autor}


//- mixin sentence(cite1, cite2, autor)
//-     article.Sentence
//-         blockquote
//-             p.
//-                 #{cite1}
//-                 #[br]
//-                 #{cite2}
//-                 #[br]
//-                 #[cite #{autor}]