//-/**
//-*   @fileoverview
//-*     Componente para incrustar un video de YouTube en nuestro sitio web cuando la resolución es mayor a 64em (1024px), cuando es menor se agrega un enlace al video
//-*     Dependencias: font-awesome
//-*
//-*   @param {String} id, id del video de YouTube, se define en el archivo pug
//-*   @param {String} $video-width, anchura del contenedor del video, se define en el archivo scss
//-*
//-*   @returns {void} no retorna nada
//-*
//-*/
mixin youtubeVideo(id)
  article(id=`${id}`).Youtube
    div.Youtube-wrapper
