.MarathonHistory {
    color: #fff;
    margin-top: 1rem;
    @media screen and (min-width:540px){
        grid-auto-flow: row dense;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(auto, fit-content);
        gap: 10px;
        &-item{
            &:nth-child(15){
                grid-column: 1 / -1;
                .u-center{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            &:nth-child(4){
                grid-column: 1/-1;
            }
        }
    }
    @media screen and (min-width: 64em) {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(auto, fit-content);
    }
    &-item {
        margin-top: 1rem;
        border: medium solid #fff;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        @media screen and (min-width:540px){
            margin: 0;
        }
        & img {
            flex: auto;
            object-fit: cover;
            transition: all 1s ease-out;
            &:hover {
                transform: scale(1.5);
            }
        }

        & p {
            flex: auto;
            padding: 1rem;
            font-size: 3vw;

            @media screen and (min-width: 64em) { font-size: 2vw; }
        }
    }
}