.Content-Contact {
    margin-bottom: 1rem;
    width: 100%;
    min-height: 100vh;
    background: {
        image: url("./img/contacto-hola.jpg");
        position: center top;
        repeat: no-repeat;
        size: cover;
    }
    @media screen and (min-width: 64em) {
        display: grid;
        grid-template: {
            columns: repeat(3, 1fr);
            rows: 100vh 1fr;
            areas: "map info info" 
                    "map info info";
        }
        
    }
}
.Contact-info{
    grid-area : info;
    justify-self: center;
}
.GoogleMap{
    grid-area: map;
    height: 100%;
}