.Collage2 {
    margin: 1rem auto;
    color: white;
    padding-top: $header-height;
    display: grid;
    line-height: 1.4;
    color: #fff;

    &-imageLeft {
        order: -1;
    }
    &-title {
        text-align: center;
        order: 0;
        & br {
            display: none;
        }
    }
    &-textTop {
        order: 1;
    }
    &-imageCenterUp {
        order: 2;
    }
    &-imageCenterDown {
        order: 4;
    }
    &-textRight {
        order: 3;
    }
    &-textBottom {
        order: 5;
    }
    & p {
        margin: 1rem 0;
    }
    @media screen and (min-width: 64em) {
        grid-template: {
            columns: repeat(6, 1fr);
            rows: repeat(8, minmax(1rem, fit-content));
        }

        &-title {
            grid: {
                column: 1 / 2;
                row: 1 / 9;
            }
            font-size: 6vh;
            letter-spacing: 2vh;
            text-align: center;
            writing-mode: vertical-rl;
            transform: rotate(180deg);

            & br {
                display: block;
            }
        }

        &-textTop {
            grid: {
                column: 3 / 6;
                row: 1 / 3;
            }
        }

        &-textRight {
            grid: {
                column: 6 / 7;
                row: 2 / 8;
            }
        }

        &-textBottom {
            grid: {
                column: 3 / 6;
                row: 7 / 9;
            }
        }

        &-imageLeft {
            grid: {
                column: 2 / 3;
                row: 1 / 9;
            }
            display: flex;
            direction: column;
            justify-content: flex-end;
            transform: translate(-1rem, 0);

            & img {
                flex-grow: 1;
                object-fit: cover;
                object-position: 40% 50%;
            }
        }

        &-imageCenterUp {
            grid: {
                column: 3 / 5;
                row: 3 / 5;
            }
            z-index: 1;
            transform: translate(1rem, 10%);
            opacity: 0.75;

            & img {
                height: 250px;
                width: auto;
            }
        }

        &-imageCenterDown {
            grid: {
                column: 4 / 6;
                row: 5 / 7;
            }
            transform: translate(-1rem, -20%);

            & img {
                height: 250px;
                width: auto;
            }
        }

        & p:last-child {
            margin: 0;
        }
    }
}
