
.u-afterFixed {
    padding-top: 2rem;
}
.Home {
    // max-width: $header-container-width;
    display: grid;
    grid-template: {
        columns: 1fr;
        rows: repeat(8, auto);
    }
    // padding-left: 1rem;
    // padding-right: 1rem;
    margin: auto;
    color: white;
    & .Poster-title {
        letter-spacing: 0;
    }
}
