.Marathons {
    background: #fff;
}
.Marathons-logos {
    display: grid;
    margin: 1rem auto;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    &Text {
        padding-bottom: 1rem;
        grid-column: 1/-1;
    }
    &Item {
        background-color: #fff;
        transition: all 0.3s ease-out;

        &:hover {
            background-color: #fff;
            filter: invert(1);
        }
    }
}
.Marathons-logosItem {
    margin: auto;
}
