.Collage {
    color: white;
    margin: 1rem auto;
    display: grid;
    grid-template-rows: repeat(7, auto);
    grid-template-columns: 100%;
    &-title {
        order: 0;
        text-align: center;
    }
    &-textTop {
        order: 1;
    }
    &-textCenter {
        order: 3;
    }
    &-textBottom {
        order: 5;
    }
    &-imageTop {
        order: -1;
    }
    &-imageCenter {
        order: 2;
    }
    &-imageBottom {
        order: 4;
    }
}
@media screen and (min-width: 64em) {
    .Collage {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(8, minmax(1rem, fit-content));

        &-title {
            grid-column: 1 / 2;
            grid-row: 1 / 9;
        }

        &-textTop {
            grid-column: 2 / 6;
            grid-row: 1 / 3;
        }

        &-textCenter {
            grid-column: 2 / 4;
            grid-row: 4 / 6;
        }

        &-textBottom {
            grid-column: 2 / 6;
            grid-row: 7 / 9;
        }

        &-imageTop {
            grid-column: 5 / 7;
            grid-row: 3 / 5;
        }

        &-imageCenter {
            z-index: 1;
            opacity: 0.75;
            grid-column: 4 / 6;
            grid-row: 4 / 6;
        }
        &-imageBottom {
            grid-column: 5 / 7;
            grid-row: 5 / 7;
        }
    }
}
