extends ../includes/layout.pug
include ../includes/components/header_video.pug
include ../includes/components/social_media.pug
include ../includes/components/contact_form.pug
block metatags
    - let title = 'Mataton'
    - let description = 'Boilerplate para el desarrollo de proyectos Frontend basado en Componentes de @jonmircha'
    title= title
    meta(name="description", content=description)
    meta(name="application-name", content=title)

block content
    main.Contact
        section.Contact-video
            +headerVideo('contacto-runner', '¿Te gustó este sitio?', 'Déjanos tus comentarios y visita nuestras redes sociales.')
        .content
            .Content-Contact
                section.Contact-info
                    +contactForm()
                    +socialMedia([ 
                        ['github', 'http://github.com/jonmircha'], 
                        ['youtube', 'http://youtube.com/bextlancom'], 
                        ['envelope', 'mailto:jonmircha@gmail.com'], 
                        ['twitter', 'http://twitter.com/@jonmircha'], 
                        ['codepen', 'http://codepen.io/jonmircha/'] ])
                section.GoogleMap