extends ../includes/layout.pug
include ../includes/components/header_poster.pug
include ../includes/components/youtube_video.pug
block metatags
    - let title = 'Mataton'
    - let description = 'Boilerplate para el desarrollo de proyectos Frontend basado en Componentes de @jonmircha'
    title= title
    meta(name="description", content=description)
    meta(name="application-name", content=title)

block content
    main.FastestMan
        +headerPoster('./img/el-mas-veloz-header.jpg', 'EL HOMBRE', 'MÁS RÁPIDO VIVO')
        .content    
            article.Collage2.u-firstContent
                h2.Collage2-title.u-flexCenter Eliud<br>Kipchoge
                .Collage2-textTop.u-flexCenter
                    p No, no es Flash, tampoco Usain Bolt, él es un <b>Velocista</b>, especialista en <b>cortas distancias</b> en el <b>menor tiempo</b> posible; pero para ser el más rápido se requiere <b>resistencia</b> y <b>velocidad constante</b> en <b>largas distancias</b> que sólo un <b>Fondista</b> puede lograr.
                .Collage2-textRight.u-flexCenter
                    p Por naturaleza el ser humano es un <b>corredor de fondo</b>, la manera en que cazaban nuestros ancestros era persiguiendo a la presa hasta matarla de cansancio.
                    p En los último años los maratonistas profesionales se han obsesionado por reducir el tiempo de la maratón a <b>menos de 2 horas</b>.
                    p El <b>6 de mayo de 2017</b> el keniata <b>Eluid Kipchoge</b> en complicidad con <b>Nike</b>, realizo un experimento llamado <b>Breaking 2</b>, con el objetivo de lograr la hazaña.
                .Collage2-textBottom.u-flexCenter
                    p El evento se realizo en el autódromo de Monza, en Italia. Kipchogue corrió la distancia de <b>42.195km</b> en <b>2:00:25</b>hrs. Aunque le faltaron 26 segundos y el evento no fue oficial, esta hazaña lo convierte en el hombre más rápido vivo.
                .Collage2-imageLeft
                    img(src="./img/el-mas-veloz-eluid-izq.jpg")
                .Collage2-imageCenterUp
                    //-img(src="./img/el-mas-veloz-eluid-arriba.jpg")
                    +youtubeVideo('uvhSgxUdsdQ')
                .Collage2-imageCenterDown
                    img(src="./img/el-mas-veloz-eluid-abajo.jpg")