extends ../includes/layout.pug
include ../includes/components/header_poster.pug
include ../includes/components/sentence.pug
include ../includes/components/youtube_video.pug
block metatags
    - let title = 'Mataton'
    - let description = 'Boilerplate para el desarrollo de proyectos Frontend basado en Componentes de @jonmircha'
    title= title
    meta(name="description", content=description)
    meta(name="application-name", content=title)

block content
    main.Error404
        +headerPoster('./img/error-404.jpg', '¿km 404?', 'Parece que te has perdido')