extends ../includes/layout.pug
include ../includes/components/header_poster.pug
include ../includes/components/youtube_video.pug
block metatags
    - let title = 'Mataton'
    - let description = 'Boilerplate para el desarrollo de proyectos Frontend basado en Componentes de @jonmircha'
    title= title
    meta(name="description", content=description)
    meta(name="application-name", content=title)

block content
    main.Women
        +headerPoster('./img/mujeres-header.jpg', 'MUJER', 'MARAVILLA')
        .content
            article.Collage.u-firstContent
                h2.Collage-title.u-flexCenter Kathrine Switzer
                .Collage-textTop.u-flexCenter
                    p Kathrine Switzer fue la primera mujer en la historia en correr una maratón. Desafió las normas establecidas cuando en 1967 se inscribió como <b><i>KV Switzer</i></b> y cruzó la línea de salida de la Maratón de Boston con el número <b>261</b> como si fuera un corredor más.
                .Collage-textCenter.u-flexCenter
                    p Pasó a la historia cuando uno de los jueces a mitad de la carrera se dio cuenta y saltó tras ella para detenerla, mientras que su entrenador y su novio la defendían de éste, permitiéndole completar la carrera con un tiempo de <b>4 horas y 20 minutos</b>.
                    p 50 años después y teniendo 70, en 2017 regreso a correr la maratón de Boston con su mítico número <b>261</b>.
                .Collage-textBottom.u-flexCenter
                    p Gracias a ella, a partir de 1972, las mujeres tuvieron derecho a correr Maratones. También fue promotora para lograr que se abriera la categoría femenil para la distancia en Juegos Olímpicos, meta que se conquistó en 1984.
                .Collage-imageTop
                    img(src="./img/mujeres-kathrine-arriba.jpg")
                .Collage-imageCenter
                    //-img(src="./img/mujeres-kathrine-centro.jpg")
                    +youtubeVideo('fOGXvBAmTsY')
                .Collage-imageBottom
                    img(src="./img/mujeres-kathrine-abajo.jpg")